<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <hello></hello>
</div>
<div id="app1">
    <hello></hello>
</div>
<script>
    Vue.component('hello',{
        template: '<h1>hello welcome {{msg}}</h1>',
        data(){
            return {
                msg: 'vue'
            }
        }
    })
    var vm = new Vue({
        el: '#app'
    });
    var vm = new Vue({
        el: '#app1'
    });
</script>
</body>
</html>