<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="comp='hello'">显示hello</button>
        <button @click="comp='hello1'">显示hello1</button>
        <component :is="comp"></component>
    </div>
    <template id="hello">
        <div>hello</div>
    </template>
    <template id="hello1">
        <div>hello1</div>
    </template>
    <script>
        var app = new Vue({
            el: '#app',
            data:{
                comp:'hello',
            },
            components: {
                hello: {
                    template:'#hello'
                },
                hello1: {
                    template: '#hello1'
                }
            }
        });
    </script>
</body>
</html>